.wrapper 
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
          seo 
        .side-header__box__menu
          .side-header__box__menu__new-group
          =link_to "#", class: "side-header__box__menu--new-group" do
            = icon('far','edit')
          .side-header__box__menu__edit-user
          = link_to "#", class: "side-header__box__menu--edit-user" do
            = icon('fas', 'cog')
    .groups
      .group
        .group__group-name
          sample
        .group__latest-message
          Good bye world 
